@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h3 {
    color: white;
    text-align: center;
    margin: 10px;
}

.container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.container textarea {
    padding: 20px;
    font-family: 'Muli', sans-serif;
}

.tags {
    display: flex;
    margin: 10px;
}

.tags .tag {
    background: orange;
    border-radius: 10%;
    padding: 10px;
    margin: 5px;
    color: white;
    border: 1px solid transparent;
}

.tags .tag.active {
    background: darkblue;
}